.search{
    min-height: 49px;
    background: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .icon-block{
        position: absolute;
        left: 30px;
        color: #919191;
        font-size: 14px;
    }
    input{
        width: calc(100% - 80px);
        height: 30px;
        border: none;
        border-radius: 20px;
        padding-left: 50px;
        outline: none;
        font-size: 16px;
        color: #919191;
    }
}